<a href="/edit-post/{{id}}">
    <div class="new-custom-card-header d-block mx-5 mb-4 p-2 user-post">
        <h4 class="card-title ">{{title}}</h4>
        <h5 class="card-title ">{{format_date createdAt}}</h5>
        <div style="clear: both;"></div>
    </div>
</a>