<div id="page-title-container" class="pb-4">
    <div class="d-inline">
        <div class="w-25 py-1 px-0 mb-3 mx-5" id="h1container">
            <h1 class="text-center">Dashboard</h1>
        </div>
    </div>
</div>
<main class="thecontent-area pt-4">

    {{#each posts}}
    {{> dashboard-card}}
    {{/each}}

    <a href="/create-post">
        <button class="btn my-4" id="create-post-button"> New Post</button>
    </a>

</main>