<div id="page-title-container" class="pb-4">
    <div class="d-inline">
        <div class="w-25 py-1 px-0 mb-3 mx-5" id="h1container">
            <h1 class="text-center">TECH yourself Blog</h1>
        </div>
    </div>
</div>

<main class="the-content-area pt-4">

    {{#each posts}}
    {{> post-card}}
    {{/each}}

</main>