<div id="page-title-container" class="pb-4">
    <div class="d-inline">
        <div class="w-25 py-1 px-0 mb-3 mx-5" id="h1container">
            <h1 class="text-center">TECH yourself Blog</h1>
        </div>
    </div>
</div>

<main class="the-content-area pt-4">

    <div class="new-custom-card mx-5">

        <div class="new-custom-card-header d-block p-2">
            <h4 class="card-title ">Sign Up</h4>
            <div style="clear: both;"></div>
        </div>

        <div class="custom-card-body d-block">
            <div class="form-container ">
                <form id="sign-up-form">
                    <div class="form-group d-block my-1 mx-2">
                        <label for="username">Username</label>
                        <textarea class="form-control" id="username" rows="1"></textarea>
                    </div>
                    <div class="form-group my-1 mx-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button class="btn my-1 mx-2" id="new-signup-button">Submit</button>
                </form>
                <a class="login-redirect-link mx-2 mb-3 d-block" href="/login">Please sign in</a>
            </div>
        </div>
    </div>

</main>